body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
  background-color: white;
}
/*
 * Formatting the header area
 */
header {
  background-color: #134e53;
  height: 40px;
  width: 100%;
  opacity: .9;
  margin-bottom: 10px;
}
header h1.logo {
  margin: 0;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  float: left;
}
header h1.logo:hover {
  color: #fff;
  text-decoration: none;
}
/*
 * Centering the body content
 */
.container {
  width: 1200px;
  margin: 0 auto;
}
div.home {
  padding: 10px 0 30px 0;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
div.about {
  padding: 10px 0 30px 0;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
h1 {
  font-size: 4em;
  margin-top: 40px;
  text-align: center;
  color: #134e53;
}

header h2.logo {
  margin-left: 20px;
  font-size: 0.8em;
  color: white;
  text-transform: uppercase;
  float: left;
}
h3 {
  font-size: 1.7em;
  font-weight: 100;
  margin-top: 30px;
  text-align: center;
  letter-spacing: -1px;
  color: #CAB7A2;
}
p {
  font-size: 1.4em;
  text-align: center;
  font-weight: bold;
  color: #09080C;
}
.menu {
  float: right;
  margin-top: 8px;
}
.menu li {
  display: inline;
}
.menu li + li {
  margin-left: 35px;
}
.menu li a {
  color: white;
  font-size: 1.4em;
  text-decoration: none;
  text-transform: uppercase;
}
div.form1 {
  padding: 10px 0 30px 0;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
          text-align: center;
}
